body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

p {
    color:blue;
}

th, td{
    border-style: dashed;
    border-width: 2px;
    border-color:green;
    text-align:center;
    padding:10px;
}